<ion-footer [ngClass]="{'hidden': !track}">
    <ion-toolbar>
        <ion-card>
            <ion-card-content>
                <div class="track-info">
                    <div class="thumbnail-wrapper">
                        <img [src]="track?.albumThumbnail">
                    </div>
                    <div class="track-info-wrapper">
                        <p>{{ track?.artist.name }}</p>
                        <p>{{ track?.title }}</p>
                    </div>
                    <div class="media-wrapper">
                        <button class="media-button button-wrapper" (click)="previousTrack()">
                            <ion-icon name="skip-backward"></ion-icon>
                        </button>
                        <button class="media-button button-wrapper" (click)="tooglePlay()">
                            <ion-icon *ngIf="!playing" name="play"></ion-icon>
                            <ion-icon *ngIf="playing" name="pause"></ion-icon>
                        </button>
                        <button class="media-button button-wrapper" (click)="nextTrack()">
                            <ion-icon name="skip-forward"></ion-icon>
                        </button>
                    </div>
                </div>
                <div class="track-duration">
                    <ion-range (tap)="selectTimer($event)" min="0" [max]="trackDuration" [ngModel]="currentTimer" (ngModelChange)="durationChange($event)"></ion-range>
                    <div class="timer-wrapper">
                        <p class="timer">{{ currentTimer | msToTime }}/{{ trackDuration | msToTime }}</p>
                    </div>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-toolbar>
</ion-footer>