track-card {
    ion-card {
        display: flex;
        ion-card-content.card-content-md {
            flex: 5 0 0;
            height: 80px;
            display: flex;
            padding: 5px;
            .thumbnail {
                height: 100%;
                img {
                    height: 100%;
                    width: auto;
                }
            }
            div.info {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 5px;
                P {
                    font-size: 0.8em;
                    line-height: 1em;
                }
            }
        }
        ion-card-content.card-content-md.card-media {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon{
                font-size: 2em;
            }
        }
    }
}